* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFD700; /* Золотой цвет при наведении */
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(20px);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.project-item {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #4CAF50;
    color: white;
}

@keyframes fadeIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}